<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Libros</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="width: 100%; display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 16px;">
    <ion-card *ngFor="let book of bookNames" style="width: 100%; text-align: center;">
      <img [src]="'https://robohash.org/' + book" alt="Imagen del libro" />
      <ion-card-header>
        <ion-card-title>{{ book }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-button expand="full" (click)="saveFirebase()">Guardar en Firebase</ion-button>
</ion-content>
